@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 250px;
  background-color: #5b87f7;
  color: #fff;

  .right-nav {
    font-size: xx-large;
    cursor: pointer;
  }

  .left-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      margin-right: 30px;
      color: #fff;
    }
  }
}

.formContainer {
  height: 91.5vh;
  background-color: #e0dfff;
  display: flex;
  justify-content: center;
  align-items: center;
  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    padding: 20px 25px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    span {
      color: black;
      font-size: xx-large;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      input {
        border-radius: 25px;
        height: 45px;
        width: 340px;
        background-color: #e0dfff;
        padding-left: 15px;
        border: 1px solid #fff;
      }
      p {
        color: #5b87f7;
        padding-right: 60px;
      }
      button {
        height: 39px;
        width: 130px;
        border-radius: 25px;
        background-color: #5b87f7;
        color: #fff;
        border: 1px solid #fff;
        font-size: 20px;
      }
      .rorl {
        display: flex;
        align-items: center;
      }
    }
  }
}

.p {
  margin: 0;
  background-color: #e0dfff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 35px;
  .cardContainer {
    height: max-content;
    padding-bottom: 35px;
    padding-right: 25px;
    padding-left: 25px;
    .cardWrapper {
      height: 255px;
      width: 240px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 3px 4px rgba(118, 117, 117, 0.2);
      .product {
        height: 50%;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
      }
      .bottomCard {
        padding: 15px 15px 0px;
        color: gray;
        p {
          padding-bottom: 5px;
        }
        h5 {
          background-color: rgb(45, 197, 45);
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 18px;
          width: 25px;
          border: 1px solid rgb(45, 197, 45);
          border-radius: 5px;
          object-fit: fill;
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        bottom: 10px;
        img {
          margin: 18px 5px 0;
          height: 20px;
          width: 20px;
          cursor: pointer;
        }
        .cart {
          height: 35px;
          width: 35px;
        }
      }
    }
  }
}

.prod {
  margin: 50px 50px;
  display: flex;
  border: 1px solid #5b87f7;
  background-color: #fff;
  .right {
    padding: 0px 40px;
  }
  .left {
    padding: 50px;
    .leftt {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 30px;
      h1 {
        font-size: 35px;
        color: #5b87f7;
      }
      img {
        height: 35px;
        width: 35px;
        border: 1px solid #5b87f7;
        border-radius: 50%;
        object-fit: contain;
        cursor: pointer;
      }
    }
    .rightt {
      p {
        font-size: 20px;
        margin-right: 90px;
        margin-bottom: 40px;
      }
      span {
        font-size: 25px;
        color: #5b87f7;
      }
      .bn {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        button {
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          width: 180px;
          cursor: pointer;
        }
        .bw {
          background-color: #fff;
          color: #5b87f7;
          border: 2px solid #5b87f7;
          font-size: 18px;
        }
        .atc {
          background-color: #5b87f7;
          color: #fff;
          border: none;
          font-size: 18px;
          margin-right: 100px;
        }
      }
    }
  }
}

.contain {
  background-color: #e0dfff;
  height: 91.75vh;
  .top {
    display: flex;
    justify-content: space-between;
  }
  .bot button {
    margin-left: 130px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: #5b87f7;
    color: #fff;
    font-size: large;
    cursor: pointer;
  }
}

.win {
  margin: 20px 30px 20px 130px;
  height: 350px;
  width: 550px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

  h1 {
    font-size: large;
    font-weight: 500;
    padding: 10px 10px;
  }

  .wina {
    height: 130px;
    width: 500px;
    border-top: 1px solid rgb(249, 241, 241);
    border-right: 1px solid rgb(249, 241, 241);
    border-left: 1px solid rgb(249, 241, 241);
    border-bottom: 1px solid rgb(185, 183, 183);
    border-radius: 5px;
    box-shadow: 0.5px 1px rgba(0, 0, 0, 0.2);
    margin: 0px 25px 20px;
    display: flex;

    h1 {
      font-size: larger;
      color: gray;
    }

    .rimid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 15px;
      p {
        color: gray;
      }
      img {
        height: 30px;
        width: 30px;
      }
    }
    .riend {
      display: flex;
      align-items: center;
      padding: 7px 80px;
      button {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        background-color: #5b87f7;
        color: #fff;
        border: none;
        font-size: larger;
        cursor: pointer;
      }
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 30px;
        border: 2px solid rgb(185, 183, 183);
      }
    }
  }

  img {
    height: 100%;
    width: 20%;
    object-fit: fill;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
  }
}

.lft {
  height: 300px;
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-right: 400px;
  padding: 20px 20px 0px;
  h1 {
    color: gray;
    font-size: 25px;
    font-weight: 100;
  }
  .det {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px rgba(224, 197, 197, 0.2);
    ul {
      list-style-type: none;
      line-height: 30px;
    }
    .last {
      text-align: end;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    h2 {
      font-weight: 100;
    }
  }
}
